<%= render 'shared/error_messages'%>
<div class="field">
	<%= f.label :name, "Name" %>
	<%= f.text_field :name%>
</div>
<div class="field">
	<%= f.label :email, "Email" %>
	<%= f.text_field :email%>
</div>
<div class="field">
	<%= f.label :medicalhistory, "Medical History" %><br/>
	<%= f.text_area:medicalhistory%>
</div>
<div class="field">
	<%= f.label :allergies, "Allergies" %><br/>
	<%= f.text_area:allergies%>
</div>
<div class="field">
	<%= f.label :familyhistory, "Family History" %><br/>
	<%= f.text_area :familyhistory%>
</div>
<div class="field">
	<%= f.label :appointments, "Appointments" %><br/>
	<%= f.text_area :appointments%>
</div>
<div class="field">
	<%= f.label :password, "Password" %>
	<%= f.password_field :password%>
</div>
<div class="field">
	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation%>
</div>
