<%= render 'shared/error_messages'%>
<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name%>
</div>
<div class="field">
	<%= f.label :email %>
	<%= f.text_field :email%>
</div>
<div class="field">
	<%= f.label :password %>
	<%= f.password_field :password%>
</div>
<div class="field">
	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation%>
</div>
<div class="field">
	<%= f.label :medicalhistory %><br/>
	<%= f.text_area:medicalhistory%>
</div>
<div class="field">
	<%= f.label :allergies %><br/>
	<%= f.text_area:allergies%>
</div>
<div class="field">
	<%= f.label :familyhistory %><br/>
	<%= f.text_area :familyhistory%>
</div>
<div class="field">
	<%= f.label :appointments %><br/>
	<%= f.text_area :appointments%>
</div>
