<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Website Name</title>
<%= stylesheet_link_tag 'images_style_sheet.css', :media => 'screen' %>
</head>

<body>
<div id="container">
	<div id="header">
		<h1>
			Scans</h1>
	</div>
	<div id="navigation">
		<ul>
			
			<li><%= link_to "Home", user_path(current_user)%></li>	
			<li><%= link_to "Medical Record", record_path%></li>
			<li><%= link_to "Scans/Images", images_path %></li>
			<li><%= link_to "Doctors", doctors_path %></li>
			
			<% if signed_in? %>
				<li><%= link_to "Sign out", signout_path%></li>
				<% else %>
				<li><%= link_to "Sign in", signin_path%></li>
			<% end %>
		</ul>
	</div>
	<div id="content-container">
		<div id="section-navigation" style="height: 224px">
			<br/>
			<strong>Name:</strong><br/>
			<%= current_user.name%><br/>
			<strong>Email:</strong><br/>
			<%= current_user.email%><br/><br/>
			<strong>URL:</strong> <%= link_to user_path(current_user), current_user %><br/><br/>
			<%= link_to "Update Profile", edit_user_path(current_user)%><br /"><br/>
		</div>
		<div id="content">
			<h2>
				<%= current_user.name %>'s Scans</h2>
			<p>
				<%= image_tag "shoulder_xray.jpg", :alt => 'Shoulder', :height => 184, :width => 159 %> </p>
			<p style="height: 18px">
				<%= image_tag "tooth_xray.jpg", :alt => 'Tooth', :height => 142, :width => 201 %> </p>
			<p style="height: 18px">
				&nbsp;</p>
			<p style="height: 18px">
				&nbsp;</p>
			<p style="height: 18px">
				&nbsp;</p>
			<p style="height: 18px">
				&nbsp;</p>
			<p style="height: 18px">
				&nbsp;</p>
		</div>
		<div id="aside">
			<h3>
				Instructions
			</h3>
			<p>
				This page lists your x-rays, cat scans, etc. 
			</p>
		</div>
		<div id="footer">
			Copyright © PMR.com, 2011
		</div>
	</div>
</div>
</body>

</html>


