<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Website Name</title>
<%= stylesheet_link_tag 'doctors_style_sheet.css', :media => 'screen' %>
</head>

<body>
<div id="container">
	<div id="header">
		<h1>
			Medical Record
		</h1>
	</div>
	<div id="navigation">
		<ul>
			<li><%= link_to "Home", user_path(current_user)%></li>	
			<li><%= link_to "Medical Record", record_path%></li>
			<li><%= link_to "Scans/Images", images_path %></li>
			<li><%= link_to "Doctors", doctors_path %></li>
			
			<% if signed_in? %>
				<li><%= link_to "Sign out", signout_path%></li>
				<% else %>
				<li><%= link_to "Sign in", signin_path%></li>
			<% end %>
		</ul>
	</div>
	<div id="content-container">
		<div id="section-navigation" style="height: 224px">
			<ul>
				<p>
				<br/>
				<strong>Name:</strong><br/>
				<%= current_user.name%><br/>
				<strong>Email:</strong><br/>
				<%= current_user.email%><br/><br/>
				<strong>URL:</strong> <%= link_to user_path(current_user), current_user %><br/><br/>
				<%= link_to "Update Profile", edit_user_path(current_user)%><br /"><br/>
				</p>
		</div>
		<div id="content">
			<h1>
				<%= current_user.name %>'s Medical History
			</h1>
			<p>
				<%= current_user.medicalhistory %>
				
			</p>
			<h3>
				Allergies
			</h3>
			<p>
				<%= current_user.allergies %>
			</p>
			<h3>
				Family History
			</h3>
			<p>
				<%= current_user.familyhistory %>
			</p>
			
		</div>
		<div id="aside">
			<h3>
				Instructions
			</h3>
			<p>
				You can edit your medical history by hitting the edit button at the bottom of the page
			</p>
		</div>
		<div id="footer">
			Copyright © PMR.com, 2011
		</div>
	</div>
</div>
</body>

</html>



